<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
  <%# deivseのフラッシュメッセージを表示 %>
  <div class="flash">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>