/* 投稿・投稿カード */
.card-wrap {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 50px;
}

.card {
  margin-bottom: 40px;
  width: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  }

.card__body {
  background-color: #fff;
  max-height: 450px;
  width: auto;
  box-shadow: 5px 5px 5px #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.card__header {
  display: flex;
  font-size: 16px;
  color: #999;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

.user-image img{ 
  height: 57px;
  width: 57px;
  object-fit: cover;
  border-radius: 150px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-right: 30px;
}

.user-image { 
  width: 15%;
}

.post-icon {
  width: 15%;
}

.user-image img:hover {
  opacity: 0.5;
}

.user-name {
  color: black;
  width: 70%;
}

.post-edit {
  width: 15%;
}

.user-name:hover {
  opacity: 0.5;
}

.user-name a {
  color: black;
}

.user-name a:hover {
  opacity: 0.5;
}

.card__img {
  margin-bottom: 10px;
  height: 200px;
  width: 324px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-img:hover {
  opacity: 0.5;
}

.card__name {
  display: flex;
  align-items: center;
  padding: 0 0 10px 15px;
  border-bottom: 1px solid #ddd;
}

.card__title {
  font-size: 20px;
  font-weight: bold;
}

.card__title {
  color: black;
  margin-right: 16px;
}

.card__title a:hover {
  color: black;
  opacity: 0.5;
}

.card__title a:hover {
  color: black;
  opacity: 0.5;
}

.card_sub_title {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.card_sub_title a:hover {
  opacity: 0.5;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.card-footer-flex {
  display: flex;  
  justify-content: space-around;
  width: 100%;
  padding-bottom: 10px;
}

.card-footer-flex a{
  color: black;
}

.post_created_at {
  opacity: 0.5;
  margin: 20px;
}

/* プレビュー */
#previews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.preview {
  margin-right: 15px;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
  width: 100%;
}

.preview-image {
  height: 150px;
  width: 180px;
  object-fit: cover;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  width: 180px;
}

.main-image {
  height: 200px;
  width: 200px;
}

/* いいね周り */
.flex-likes{
  display: flex;
}

.likes-icon{
  margin-right: 20px;
}

.likes-count{
  color: #536371;
  margin-right: 30px;
}

.bi-suit-heart-fill{
  color: red;
}

.bi-suit-heart{
  color: red;
}

/* アイコン */
.bi-gear {
  color: black;
}

.bi-gear:hover {
  opacity: 0.5;
}

.bi-chat-dots {
  color: black;
}

.bi-chat-dots:hover {
  opacity: 0.5;
}

.post-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_btn {
margin-left: 15px;
color: #fff;
}

.chat_btn a {
color: #fff;
}

.comment-btn {
  display: flex;
}

.comment-icon {
  margin-right: 20px;
}

.comment-count {
  color: #536371;
}

.bi-chat-dots {
  color: black;
}

.bi-chat-dots:hover {
  opacity: 0.5;
}

.comment-count:hover {
  opacity: 0.5;
}

/* 投稿詳細ページ */
.post__show__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 10;
  margin: 20px 0;
}

.table__2 {
  border-collapse: collapse;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.table__col5 {
  white-space: pre-wrap;
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 20%;
  padding: 8px 8px 8px 15px;
  height: 20%;
}

.table__col6 {
  white-space: pre-wrap;
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 80%;
  padding: 16px 15px;
}

.table__3 {
  border-collapse: collapse;
  width: 100%;
  height: 1000px;
  margin: 0 auto;
}

.table__col7 {
  white-space: pre-wrap;
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 20%;
  padding: 8px 8px 8px 15px;
  height: 20%;
}

.table__col8 {
  white-space: pre-wrap;
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 80%;
  padding: 16px 15px;
}

.table__col9 {
  white-space: pre-wrap;
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 20%;
  padding: 8px 8px 8px 15px;
  height: 60%;
}

.table__col10 {
  white-space: pre-wrap;
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 80%;
  padding: 16px 15px;
  height: 60%
}

.post-image {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
}

.post-image img {
  height: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.post-show-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.previews {
  width: 100%;
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slick-next.slick-arrow::before {
  color: #2F496E;
}

.slick-prev.slick-arrow::before {
  color: #2F496E;
}

/* コメント */
.post-comments {
  background-color: #f6f6f6;
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  padding: 20px 0 40px 0;
}

.h4 {
  margin-left: 50px
}

.comments-lists {
  padding-left: 20px;
  background-color: #fff;
}

.comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-comment {
  width: 70%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

#comment_content.input-comment {
  width: 350px;
  height: 50px;
}

.comment-left {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #f5f5f5;
}

.user-nickname {
  margin-bottom: 10px;
  color: black;
}

.user-introduce {
  color: black;
}