/* 投稿・投稿カード */
.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
  width: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card__body {
  background-color: #fff;
  max-height: 450px;
  width: auto;
  box-shadow: 5px 5px 5px #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.card__header {
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-image img{ 
  height: 57px;
  width: 57px;
  object-fit: cover;
  border-radius: 150px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-right: 30px;
}

.user-image img:hover {
  opacity: 0.5;
}

.user-name {
  margin-right: 40px;
  color: black;
}

.user-name:hover {
  opacity: 0.5;
}

.user-name a {
  color: black;
}

.user-name a:hover {
  opacity: 0.5;
}

.user-name {
  margin-right: 40px;
}

.user-name a {
  color: black;
}

.user-name a:hover {
  opacity: 0.5;
}

.card__img {
  margin-bottom: 10px;
  height: 200px;
  width: 324px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-img:hover {
  opacity: 0.5;
}

.card__name {
  display: flex;
  align-items: center;
  padding: 0 0 10px 15px;
  border-bottom: 1px solid #ddd;
}

.card__title {
  font-size: 20px;
  font-weight: bold;
}

.card__title {
  color: black;
  margin-right: 16px;
}

.card__title a:hover {
  color: black;
  opacity: 0.5;
}

.card__title a:hover {
  color: black;
  opacity: 0.5;
}

.card_sub_title {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.card_sub_title a:hover {
  opacity: 0.5;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-footer-flex {
  display: flex;  

}

.post_created_at {
  opacity: 0.5;
  margin: 20px;
}

/* アイコン */
.bi-gear {
  color: black;
}

.bi-gear:hover {
  opacity: 0.5;
}

.bi-chat-dots {
  color: black;
}

.bi-chat-dots:hover {
  opacity: 0.5;
}

.post-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-trash {
 margin-left: 15px;
 color: black;
}

.chat_btn {
margin-left: 15px;
color: #fff;
}

.chat_btn a {
color: #fff;
}

.comment-btn {
  display: flex;
}

.comment-icon {
  margin-right: 20px;
}

.comment-count {
  color: #536371;
}

.bi-chat-dots {
  color: black;
}

.bi-chat-dots:hover {
  opacity: 0.5;
}

.comment-count:hover {
  opacity: 0.5;
}

/* 投稿詳細ページ */
.post__show__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 10;
  margin: 20px 0;
}

.table__2 {
  border-collapse: collapse;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.table__col5 {
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 20%;
  padding: 8px 8px 8px 15px;
  height: 20%;
}

.table__col6 {
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 80%;
  padding: 16px 15px;
}

.table__3 {
  border-collapse: collapse;
  width: 100%;
  height: 1000px;
  margin: 0 auto;
}

.table__col7 {
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 20%;
  padding: 8px 8px 8px 15px;
  height: 20%;
}

.table__col8 {
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 80%;
  padding: 16px 15px;
}

.table__col9 {
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 20%;
  padding: 8px 8px 8px 15px;
  height: 60%;
}

.table__col10 {
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 80%;
  padding: 16px 15px;
  height: 60%
}

.post-image {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
}

.post-image img {
  height: 400px;
  width: auto;
  margin-bottom: 15px
}

.post-show-image {
  max-width: 1029px;
}

.post-show-image img{
  width: 100%;
}