 /* スマホ表示 */
@media (max-width: 599px) {
  /* common */
  .main {
    width: 100vw;
  }
  
  .wrap {
    min-width: 100vw;
  }

  .breadcrumbs {
    background-color: #f4eade;
    padding: 10px 0 10px 10px;
    font-size: 10px;
  }

  .page-heading {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 30px;
  }

  /* ヘッダー */
  .header {
    width: 100vw;
  }

  .nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .nav-left {
    width: 100%;
  }

  .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }

  .nav-left a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
  }

  .search_form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;

  }

  .input-search {
    height: 33px;
    margin: 0 5px;
  }

  #post_form_tag_name.input-search {
    margin: 0 3px 0 0;
  }

  .search-btn {
    height: 33px;
  }

  .nav-right {
    width: 100%;
    order: 2;
  }
  
  .card {
    width: 100%;
    margin-bottom: 60px;
  }

  .menu1-lists {
    position: absolute;
    top:  40px;
    left: -60px;
  }

    /* トップページ */
  .title-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
  }

  .service-title {  
    font-size: 21px;
  }
  
  .service-explain {
    font-size: 16px;
    height: 30px;
  }
  
  .feature-list-text::after {
    display: none;
  }

  .feature-list-description {
    font-size: 18px;
    margin: 0 auto;
  }

  .list {
    height: 100%;
    margin-bottom: 30px;
  }
    
  /* 通知ページ */
  .notification-main {
    border-bottom: 1px solid #f2f2f2;
    padding: 20px 8px;
    font-size: 12px;
  }
  
  .notification-comment {
    margin-top: 5px;
  }
  
  .not-notification {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .notification-flex {
    display: flex;
    align-items: center;
  }

  /* 投稿ページ・投稿カード */
  #previews {
    width: 100%;
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .slick-slide img {
    width: 100%;
  }

  .slider button {
    display: none;
  }

  .slick-arrow {
    display: none;
  }

  /* チャットページ */
  .user-image img { 
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 150px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-right: 5px;
  }

  .bms_send {
    margin-bottom: 60px;
  }

  .form__btn_send {
    display: inline-block;
    height: 48px;
    padding: 0.2em 0.8em;
    font-size: 0.8em;
    color: #fff;
    user-select: none;
    background-color: #2988BC;
    border: 1px #2988BC solid;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    transition: 0.2s ease;
    width: 10%;
    min-width: 70px;
    text-align: center;
  }

  .bms_messages_container {
    height: 70vh;
    width: auto;
    background-color: #eee;
    margin-bottom: 60px;
  }
  
  .bms_chat_header {
    padding: 6px;
    font-size: 16px;
    height: 34px;
    background: #ddd;
    border: 1px solid #ccc;
  }
  
  .bms_messages {
    overflow: auto;
    height:100%;
    width: 100%;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #eee;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;
  }

  /* チャットページ */
  .chat-user-image img {
    height: 35px;
    width: 35px;
    margin: 0 auto;
    margin-right: 5px;
  }
  
  .chat-user-name {
    font-size: 8px;
  }

  .chat-user-name {
    width: 100%;
  }

  .myself-user {
    font-size: 8px;
  }

  .bms_message {
    font-size: 8px;
  }
  
  .bms_message_box {
    font-size: 8px;
  }

    /* ユーザー詳細ページ */
  .page-heading-show {
    font-size: 18px;
  }
  
  .user-profile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .profile-card {
    margin: 0 auto;
  }

  .profile-left {
    width: 100%;
    margin: 0 auto;

  }
  
  .profile-right {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }

  .table {
    border-collapse: collapse;
    margin-bottom: 32px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  
  .table tbody {
    box-shadow: 15px 20px 20px #ccc;
  }
  
  .table__col1 {
    text-align: left;
    font-weight: bold;
    background: #fafafa;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 20%;
    padding: 8px;
    height: 20%;
    font-size: 12px;
  }
  
  .table__col2 {
    text-align: left;
    border: 1px solid #ddd;
    border-collapse: collapse;
    background-color: #f2f2f2;
    width: 80%;
    padding: 8px;
    font-size: 12px;
  }
  
  .table__col3 {
    text-align: left;
    font-weight: bold;
    background: #fafafa;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 20%;
    padding: 8px;
    font-size: 12px;
  }
  
  .table__col4 {
    text-align: left;
    border: 1px solid #ddd;
    border-collapse: collapse;
    background-color: #f2f2f2;
    width: 80%;
    padding: 8px;
    font-size: 12px;
  }

  /* ログイン */
  #error_explanation h2 {
    font-size: 15px;
  }

  #error_explanation  ul {
    font-size: 12px;
  }

  .chat-header {
    margin: 20px 0;
  }

  .chat_container {
    height: 70%;
    min-width: 100%;
  }

  .user-name {
    font-size: 10px;
    margin-right: 5px;
    color: black;
  }

  /* 投稿編集 */
  #post_images {
    font-size: 10px;
  }

  .form-group {
    font-size: 10px;
  }

  #user_age.input-name {
    font-size: 10px;
    width: 70%;
  }

  #post_unit.input-default {
    font-size: 12px;
  }

  #post_course.input-default {
    font-size: 12px;
  }

  #post_introduction.input-class {
    font-size: 12px;
  }

  #post_development.input-class {
    font-size: 12px;
  }

  #post_summary.input-class {
    font-size: 12px;
  }

  #post_introduction_time.input-name {
    font-size: 12px;
  }

  #post_development_time.input-name {
    font-size: 12px;
  }

  #post_summary_time.input-name {
    font-size: 12px;
  }

  /* 新規登録 */
  .form-info-header {
    font-size: 16px;
  }

  .form-info-text {
    font-size: 10px;
  }

  #user_last_name.input-name {
    width: 70%;
  }

  #user_first_name.input-name {
    width: 70%;
  }

  #user_last_name_kana.input-name {
    width: 70%;
  }
  #user_first_name_kana.input-name {
    width: 70%;
  }

  #user_sex.input-name {
    font-size: 10px;
    width: 100%;
  }

  .input-default::placeholder {
    font-size: 8px;
  } 

  .input-name::placeholder {
    font-size: 8px;
  } 

  .input-class::placeholder {
    font-size: 8px;
  } 

  #user_sex.input-name {
    font-size: 10px;
    width: 70%;
  }

  .form img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 150px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-right: 15px;
    margin-left: 15px;
  }

  #user_nickname.input-default {
    font-size: 12px;
  }

  #user_shool.input-default {
    font-size: 12px;
  }

  #user_subject.input-default {
    font-size: 12px;
  }

  #user_club.input-default {
    font-size: 12px;
  }
  
  #user_introduce.input-class {
    font-size: 12px;
  }

  /* フォロー一覧ページ */
  .follow-right {
    margin-left: 15px;
    font-size: 12px;
  }
}