/* 新規登録ページ・ログインページ・ユーザー情報編集*/
.container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #f4eade;
  display: flex;
  justify-content: center;
}

.wrap {
  width: 70%;
  height: 100%;
  background-color: white;
  margin: 20px 0 40px 0;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.form-header {
  width: 100%;
  height: 20%;
  text-align: center;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}

.form-group {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.indispensable {
  background-color: #F7931D;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
  opacity: 0.8;
}

.any-item {
  background-color: #4C8EB4;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
  opacity: 0.8;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.form-flex {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-sex{
  margin-right: 270px;
}

.input-name {
  width: 30%;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}


#user_introduce.input-class{
  height: 250px;
}

#post_images {
  margin-top: 10px;
}

/* フォーム周り */
.actions{
  padding: 40px;
  display: flex;
  justify-content: center;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ffffff;
  user-select: none;
  background-color: #2988BC;
  border: 1px #2988BC solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  width: 100px;
  text-align: center;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.form img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 150px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-right: 15px;
}

.input-class {
  width: 100%;
  margin-top: 5px;
  height: 120px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}


/* アプリ紹介 */
.title-contents {
  width: 100vw;
  background-image: url('school.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}


/* 特徴 */
.feature-contents {
  padding: 5vh 15vw;
  background-color: #f2f2f2;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists img{
  height: 200px;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

