/* ユーザー詳細ページ */
.user-main {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #f4eade;
}

/* プロフィール左 */
.user-profile {
  display: flex;
  margin-bottom: 36px;
}

.profile-card {
  height: 400px;
  width: 250px;
  background-color: #fff;
  box-shadow: 15px 20px 20px #ccc;
  border-radius: 5px;
}

.card-header {
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #ddd;
  background: #f2f2f2;
  border-radius: 5px 5px 0 0 ;
  display: flex;
  flex-direction: column;
  height: 20%;
}

.card-header span {
  display: flex;
  justify-content: flex-end;
  font-size: 15px
}

.card-image img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 150px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.card_footer {
  border-top: 1px solid #ddd;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#user-follows {
  width: 100vw;
}

.follow-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
}

.follow-left {
  margin-right: 18px;
}

.card_footer a:hover{
  opacity: 0.5;
}


/* フォロー */
.follow-header {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #f5f5f5;
}


/* プロフィール右 */
.profile-right {
  width: 100vw;
  margin-left: 30px;
}

.table {
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 100%;
  height: 410px;
}

.table tbody {
  box-shadow: 15px 20px 20px #ccc;
}

.table__col1 {
  white-space: pre-wrap;
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 30%;
  padding: 8px 8px 8px 15px;
  height: 20%;
}

.table__col2 {
  white-space: pre-wrap;
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 70%;
  padding: 16px 15px;
}

.table__col3{
  white-space: pre-wrap;
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 30%;
  padding: 8px 8px 8px 15px;
}

.table__col4{
  white-space: pre-wrap;
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 70%;
  padding: 16px 15px;
}


/* 新規登録ページ・ログインページ・ユーザー情報編集*/
.container {
  height: 100%;
  width: 100vw;
  background-color: #f4eade;
  display: flex;
  justify-content: center;
}

.wrap {
  width: 70%;
  height: 100%;
  background-color: white;
  margin: 20px 0 40px 0;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.form-header {
  width: 100%;
  height: 20%;
  text-align: center;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}

.form-group {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
  margin-bottom: 8px;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.indispensable {
  background-color: #F7931D;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
  opacity: 0.8;
}

.any-item {
  background-color: #4C8EB4;
  padding: 5px;
  color: #fff;
  border-radius: 3px;
  opacity: 0.8;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.form-flex {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-sex {
  margin-right: 270px;
}

.input-name {
  white-space: pre-wrap;
  width: 40%;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

#user_introduce.input-class{
  height: 250px;
}

#post_images {
  margin-top: 10px;
}

.delete-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.delete-btn a {
  color: black;
}